@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./stylesheets/main.scss";

body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

html{
	overflow-y: scroll;
}

.navbar-brand:hover {
	cursor: pointer;
}

.w-sm-down-100 {
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}
.w-md-50 {
	@include media-breakpoint-up(md) {
		width: 50% !important;
	}
}

.error-info {
	color: #636b6f;
	font-family: "Nunito", sans-serif;
	font-weight: 100;
	font-size: 36px;
}

.nav-link.active {
	background-color: $secondary;
	color: $light !important;
	border-radius: 20px;
}

.avatar {
	width: 40px;
	height: 40px;

	&-placeholder {
		font-size: 40px;
		color: $secondary;
		transition: color 0.2s;

		&:hover {
			color: $dark;
		}
	}
}
