// with this you can use variant='dark-purple' or variant='dark-green' in the react-bootstrap's Button component
.btn.btn- {
	&dark-purple {
		@include theme-button($theme-purple);

		&:hover {
			background-color: lighten($theme-purple, 10%);
		}
	}

	&dark-green {
		@include theme-button($theme-green);

		&:hover {
			background-color: lighten($theme-green, 2%);
		}
	}
}

.w-sm-down-100 {
	@include media-breakpoint-down(sm) {
		width: 100% !important;
	}
}

.w-md-50 {
	@include media-breakpoint-up(md) {
		width: 50% !important;
	}
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;

	&-placeholder {
		position: relative;
		@include font-size(18px);
		text-align: center;
		color: $light;
		background-color: $secondary;
		transition: background-color 0.2s;
		line-height: 40px;

		&.border {
			border-width: 2px !important;
			line-height: 36px;
		}

		&:hover {
			background-color: $dark;
		}
	}
}

form label.required:after {
	color: red;
	content: " *";
}

.fixed-bottom-right {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: $zindex-fixed;
}

$spinner-size: 8;

.big-spinner {
	height: $spinner-size * 1rem;
	width: $spinner-size * 1rem;
}

.h-100vh {
	height: 100vh !important;
	&-max {
		max-height: 100vh !important;
	}
}

.bottom-shadow {
	&,
	&-on-hover:hover {
		box-shadow: 0px 3px 5px -1px rgba(black, 0.25);
	}
}

.bg-transparent {
	background-color: transparent !important;
}

.dark-transparent-container {
	flex: 1;
	background-color: rgba(#011038, 0.15);

	@include media-breakpoint-up(sm) {
		border-radius: 0.25rem !important; // the same as .rounded from bootstrap
	}
}

section .section- {
	&title {
		@include font-size(1.1rem);
		margin-bottom: 0 !important;
	}

	&paragraph {
		@include font-size(1.1rem);
		font-weight: 300;
	}
}

.link-no-styles {
	text-decoration: none !important;
	&:link {
		text-decoration: none !important;
	}
	&:visited {
		text-decoration: none !important;
	}
	&:hover {
		text-decoration: none !important;
	}
	&:active {
		text-decoration: none !important;
	}
}
