// @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,700&display=swap');

// set flex with direction
@mixin align-flex-item($direction) {
  display: flex;
  flex: {
    direction: $direction;
  }
}

// drop a shadow with desired color settings
@mixin drop-shadow($shadow: rgba(0, 0, 0, 0.103)) {
  box-shadow: 0px 1px 4px 0px $shadow;
}

// mixin to show delete project bin div on hover on project card
@mixin show-delete-card($state: false) {
  @if $state == false {
    background: white;
    font-weight: 200;
    color: white;
    padding: 5px;
  } @else {
    background: #00c4a7;
  }
}

// divider helper with color as input
@mixin divider($color: black) {
  color: $color;
  background: $color;
  height: 5px;
}

@mixin title-font {
	font-family:  'Roboto', sans-serif;
}


//them button
@mixin  theme-button($backColor:#00c4a7, $testColor: white) {
	background: $backColor;
	padding: 5px;
	border: none;
	width: 100px;
	color: $testColor;
	font-weight: 400;
	margin-left: 10px;
}

//spacings
@mixin space-between {
	justify-content: space-between;
}