@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500|Roboto:400,700&display=swap');

//fonts
$roboto-main: 'Roboto', sans-serif;
$roboto-mono: "Roboto Mono", monospace;

// colors and themes
$button-extension: #010a439a;
$theme-green: #00c4a7;
$theme-purple: #202040;
$theme-purple-form-label: #202040ce;


//background
$body-color: #e4f2f0c0;
