extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 
    a(href="/v1/api-docs") API DOCUMENTATION
  h2
    a(href="https://chingu-voyages.github.io/v11-bears-team-10/") This is the link to the client app (Your Project Manager)
