.chat-container{
  width: 100%;
  height: 70vh;
  display: flex;
  margin: auto;
  background: #fafafa;
}
.chat-left, .chat-right{
  flex: 1;
  background: #caefff;
  border: thick solid blue;
}
.chat-middle{
  flex: 2;
  display: flex;
  flex-direction: column;
}
.chat-display{
  flex: 1;
}
.chat-middle form{
  display: flex;
}
.input-chat-message{
  flex: 1;
  border: thin solid #caefff;
}
.chat-title{
  background: #caefff;
  border: thick solid blue;
  border-left: none;
  border-right: none;
}