
.chat-main-container{
  background: #444;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-container{
  width: 95%;
  max-width: 900px;
  display: flex;
  height: 90%;
  
  background: #222831;
  color: #fafafa;
  border-radius: 20px;
  overflow: hidden;
}

.chat-container ul{
  padding: 0;  
  
}
.chat-container li{
  list-style: none;
}
.chat-msg-date{
  font-size: .8em;
}
.chat-left, .chat-right{
  flex: 1.5;
  color: #fafafa;
  padding: .5em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 1em;
}
.left-title, .right-title{
  padding: 2em 0 1em;
  text-align: center;
}
.list-wrapper{
  background: #393e46;
  flex: 1;
  border-radius: 5px;
  padding: 1em 0;
  overflow: auto;
  
}
.list-wrapper ul{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  
}
.list-wrapper li{
  display: flex;
  justify-content: space-between;
  padding: 0 .5em;
  
  
}
.room-name{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.active-room{
  background: #0b032d;
  color: #fafafa;
}
.list-wrapper li:hover{
  background: #fafafa;
  color: black;
  cursor: pointer;
}
.chat-middle{
  flex: 3;
  display: flex;
  flex-direction: column;
  background: #393e46;
  max-height: 100%;
  overflow: hidden;
}

.chat-display{
  height: 100%;
  max-height: 60vh;
  flex: 1;
  overflow-y: scroll;
  padding: .5em 0 ;
  
}
/* .chat-display ul{
  max-height: 60vh;
} */
.chat-display li{
  list-style: none;
  margin:   0 .5em;
  padding: 0 .5em;
  background: #393e46
}
.chat-display li div{
  display: flex;
  justify-content: space-between;
 
}
.chat-display li p{
  padding: 0.5em;
  background: gray;
  color: #fafafa;
  border-radius: 15px;
}
.chat-middle form{
  display: flex;
}
.input-chat-message{
  flex: 1;
  border: thin solid #222831;
  background: gray;
  color: #fafafa;
  padding-left: .5em;
  
}
.chat-title{
  text-align: center; 
  background: #222831;
  padding: 1em 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
 
}
.btn-chat-send{
  border: thin solid #222831;
  border-left: none;
  min-width: 30px;
  min-height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: gray;
  background-image: url("../../images/icons/message.png");
}
.msg-counter{
  background: red;
  padding: 0 .5em;
  border-radius: 50%;
}