@import "../../node_modules/bootstrap/scss/bootstrap.scss";
$enable-responsive-font-sizes: true;
@import "../../node_modules/aos/dist/aos.css";
@import "./css/styles.css";

@import "./helpers/variables";
@import "./helpers/mixins";
@import "./helpers/common-classes";

@import "./components/dashboard";
@import "./components/projectPage";
@import "./components/addProject";
@import "./components/footer";
@import "./components/todolist";
@import "./components/projectboard";
@import "./components/message";
@import "./components/addTodo";
@import "./components/todos";
@import "./components/landingPage";
@import "./components/navbar";
@import "./components/errorPage";

@import "./reusable_components/Avatar.scss";
@import "./reusable_components/DarkTransparentContainer.scss";
@import "./reusable_components/UserSuggestionsFormGroup.scss";

html {
	scroll-behavior: smooth;
	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}
}

body {
	@include thinScrollbar($light, $secondary); // it worked on chrome , but not on firefox
	overflow-x: hidden;

	#root {
		// prevent scroll bar from pushing elements to the left
		margin-right: calc(100% - 100vw) !important;

		background-image: url("../images/landing.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;

		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
}

// fix a react-bootstrap navbar animation bug
.navbar-collapse {
	flex-basis: unset;
}
