
.project-form{
	padding: 10px;
	color: white;
}

.project-header{
	background: white;
	color: $theme-purple;
}

#project-title{
	@include title-font;
	// color: white;
	font-weight: 700;
}

.form-field{
	font-size: 13px;
	padding: 10px;
}

.form-label{
	font-weight: bold;
	color: $theme-purple-form-label;
}



#close{
	@include theme-button();
	border-radius: unset;
	// padding-bottom: 2px;
}

#save{
	@extend #close;
	@include theme-button(#202040, $theme-green);
}