.app-card {
  height: 25vh;
  width: 18rem;
  margin: 15px;
  .project-card {
    height: 22vh;
    background: white;
  }

  .trash {
    @include show-delete-card(false);
  }
}

.app-card:hover {
  .trash {
    @include show-delete-card(true);
  }
}


.add-project{
	height: 25vh;
  width: 18rem;
	margin: 15px;
	background: #00c4a7;
	font-size: 40px;
	border-radius: 5px;
	color: white;
}