.app-card {
	height: 25vh;
	width: 18rem;
	margin: 15px;
  .project-card {
		height: 22vh;
		background: white;
  }

  .trash {
    background: #00c4a7;
		font-weight: 200;
		color: white;
		padding: 5px;
  }
}