//helpers
.flex-row {
	@include align-flex-item(row);
}

.flex-col {
	@include align-flex-item(column);
}

.flex-col-centered {
	@include align-flex-item(column);
	justify-content: center;
	align-items: center;
}

.flex-row-centered {
	@include align-flex-item(row);
	justify-content: center;
	align-items: center;
}

.center-nav {
	justify-content: space-between;
}

.user-nav {
	@include align-flex-item(row);
}

.dash-body {
	background: $body-color;
	@include align-flex-item(column);
	align-items: center;
	justify-content: center;
	// border: red solid 2px;
}

.content {
	height: 80;
	@include align-flex-item(column);
	// width: 80vw;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.add {
	.left {
		padding: 5px;
		width: 60vw;
		background: white;
		border-right: $button-extension 4px solid;
		@include drop-shadow;
	}
}

.projects-summary {
	@include drop-shadow;
}

.summary-cards {
	justify-content: space-between;
	margin: 0 4px;
	.summary {
		width: 20vw;
		padding: 10px;
		background: #e4f2f0c0;
	}
}

.add-project {
	height: 25vh;
	width: 18rem;
	margin: 15px;
	background: #00c4a7;
	font-size: 40px;
	border-radius: 5px;
	color: white;
}

// --------------------------------------------------------------------------------------------------------------------|
// ---------------------------------------- soufiane's dashboard styles -----------------------------------------------|
// --------------------------------------------------------------------------------------------------------------------|

#dashboard {
	flex: 1;
	background-color: rgba(#011038, 0.15);

	@include media-breakpoint-up(sm) {
		border-radius: 0.25rem !important; // the same as .rounded from bootstrap
	}

	&,
	> section {
		box-shadow: 0px 3px 5px -1px rgba(black, 0.25);
	}

	#projects-summary {
		h2 {
			background-color: #e4f2f0c0;
		}
	}

	h1 {
		@include font-size(1.1rem);
	}

	#projects-summary h2 {
		@include font-size(2rem);

		span {
			@include font-size(0.85rem);
		}
	}
}

#project-list {
	background-color: white;
}

.project-card {
	cursor: pointer;

	&:hover {
		box-shadow: 0px 3px 5px 0px rgba(black, 0.25);
	}

	h2 {
		@include font-size(1.4rem);
	}

	p {
		@include font-size(0.8rem);
	}

	i {
		@include font-size(1.4rem);
		font-style: normal;
		position: relative;

		span {
			text-align: center;
			background-color: #00c4a7;
			border-radius: 50%;
			@include font-size(0.6rem);
			position: absolute;
			left: -5px;
			top: -5px;
			width: 1.1rem;
			height: 1.1rem;
			line-height: 1.1rem;
			color: white;
		}

		#team-members {
			color: #8105d8;
		}
		#messages {
			color: #3b064d;
		}
		#todos {
			color: #ed0cef;
		}
	}
}
