@import '../helpers/variables';
@import '../helpers/mixins';

//dashboard 
.dashboard{
	@include align-flex-item(column);
	height: 100%
}
.header{
	background: white;
	display: flex;
	justify-content: space-between;
	height: 10vh;
}		

.user-nav{
	@include align-flex-item(row)
}

.dash-body{
	// border: 2px red solid;
	height: 90vh;
	background: rgba(128, 128, 128, 0.103)
}

.logout{
	background: #00C4A7;
	padding: 7px;
	border: none;
	width: 100px;
	color: white;
	font-weight: 200;
	margin-left: 5px;
}