.header {
  // background: #160f30;
  // background: #504658;
	// background: white;
	// @include header-gradient;
	// background: #202040;
	// color: #0809139a;
	background: white;
  display: flex;
  justify-content: space-between;
	height: 10vh;
	#brand{
		width: 50px;
	}
  .logout {
	  @include theme-button;
	}
	span{
		color: #080913c2;
	}
}

#brand-name{
	color: black;
	margin-left: 10px;
}




.search-wrapper {
	position: relative;
	
	#search {
		left: 14px;
		top: 10px;
		font-size: 14px;
		position: absolute;
		color: rgba(128, 128, 128, 0.63);
		margin: 2px;
	}

	#search-bar {
		width: 245px;
		height: 40px;
		background: #EBF5F4;
		color: black;
		font-size: 15px;
		// font-weight: bold;
		border-color: rgba(128, 128, 128, 0.055);
		border-radius: 20px;
		padding-left: 35px;
		outline: none;
	}
}



