.projectsbody{
	@include align-flex-item(column);
	flex-direction: column;
	height: 100vh;
}

.board-body {
	background: $body-color;
	@include align-flex-item(column);
  align-items: center;
	justify-content: flex-start;
	flex-grow: 1;
}

.projects-items {
	@extend .summary-cards;
  justify-content: unset;
  .summary-icon {
    flex-basis: 10%;
    background: rgba(128, 128, 128, 0.479);
  }
  div:nth-child(2) {
    margin-right: 7px;
    cursor: pointer;
  }

  .clicked {
    // background: $theme-green;
    background: $theme-purple;
    color: white;
	}
	
}

.projects-shelf {
	flex-wrap: wrap;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 80px;
	padding-right: 50px;
	justify-content: flex-start;
	align-items: center;
}